<div class="mainContainer">
  <h1 c>Western Online Timetable Search Page</h1>
  <hr>
  <div class="innerContainer">
    <a [routerLink]="['/subjectAndDesc']" class="primary-btn" style="padding: 10px;margin-left: 90px">All Subjects</a>
    <a [routerLink]="['/findCourse']" class="primary-btn" style="margin-left: 30px;padding: 10px">All Course Codes in Subject Search</a>
    <a [routerLink]="['/findTimetableEntry']" class="primary-btn" style="margin-left: 30px;padding: 10px">Specific Course Search</a>
  </div><br><br><br>
  <div>
    <a [routerLink]="['/create']" class="primary-btn" style="padding: 10px">Create Schedule</a>
    <a [routerLink]="['/scheduleAddRecords']" class="primary-btn" style="margin-left: 20px;padding: 10px">Add Course to Schedule</a>
    <a [routerLink]="['/findSubjectCourse']" class="primary-btn" style="margin-left: 30px;padding: 10px">View Schedule</a>
  </div><br><br>
  <div>
    <a [routerLink]="['/findSchedulesCourses']" class="primary-btn" style="margin-left: 30px;padding: 10px">All Schedule</a>
    <a [routerLink]="['/delete']" class="primary-btn" style="margin-left: 30px;padding: 10px">Delete Schedule</a>
    <a [routerLink]="['/deleteAll']" class="primary-btn" style="margin-left: 30px;padding: 10px">Delete All Schedules</a>
  </div>
</div>
